<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pierwsza strona</title>
</head>
<body>
    <h2>To jest pierwsza strona.</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aperiam debitis, enim et eveniet explicabo fugiat illo libero magnam necessitatibus nihil omnis possimus praesentium qui quos tempora velit. Quibusdam.
    <br/>
    <br/>

<!--    Przejdź do strony <a href="/links/second/">drugiej</a>-->
    Przejdź do strony <a href="{% url 'second' %}">drugiej</a>
</body>
</html>