<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drugi</title>
</head>
<body>
   <h2> To jest druga strona.</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facilis fugiat odit pariatur perspiciatis quisquam reiciendis reprehenderit repudiandae sapiente voluptatibus. Consectetur deleniti dolorem hic laboriosam maxime quibusdam, soluta ullam ut!
    <br/>
    <br/>

<!--   Przejdź do strony <a href="/links/pierwszy/">pierwszej</a>-->
   Przejdź do strony <a href="{% url 'third' 'lista'%}">trzeciej</a>
</body>
</html>